@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

header {
  background: linear-gradient(to right, #4CAF50, #388E3C);
  color: white;
  text-align: center;
  padding: 1em 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
}
header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
}
nav {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav a, .dropdown .dropbtn {
  color: black; /* Texto negro */
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid transparent; /* Borde transparente por defecto */
  background: transparent; /* Sin fondo */
  border-radius: 25px; /* Bordes redondeados */
  margin: 0 10px;
  transition: all 0.3s ease; /* Transición suave */
}

nav a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(128, 0, 128, 0.2); /* Fondo al pasar el mouse */
  color: black; /* Texto negro */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
  transform: translateY(-3px); /* Elevación al pasar el mouse */
  border: #f4f4f400; /* Borde visible al pasar el mouse */
}

.dropdown {
  position: relative; /* Necesario para la posición del dropdown */
}

.dropdown-content {
  display: none; /* Oculto por defecto */
  position: absolute;
  background-color: white; /* Fondo semi-transparente */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px; /* Bordes redondeados */
  animation: slideDown 0.3s ease;
  left: 0; 
  right: auto; 
  max-width: calc(100vw - 20px);
  overflow-x: auto;
}

.dropdown-content a {
  color: black; /* Color del texto del dropdown */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.3s; /* Transición suave */
}

.dropdown-content a:hover {
  background-color: rgba(128, 0, 128, 0.2); /* Fondo al pasar el mouse */
  margin-top: 12px;
  margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block; /* Muestra el dropdown al pasar el mouse */
  right: 0;
  left: auto;
  border-radius: 20px;

}

@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-10%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.container {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.section {
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-images img {
  width: 600px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
}

footer {
  background: linear-gradient(to right, #333, #555);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}
